.phone-list-container {
  padding: 20px;
  max-width: 1650px;
  margin: 0 auto;
}


.phone-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
}

.loading, .error {
  text-align: center;
  font-size: 1.2rem;
  padding: 50px;
}

.loading {
  color: #666;
}

.error {
  color: #d32f2f;
}

nav{
  width: 100%;
}
.navInputContainer{
  width: 92%;
  display: flex;
  justify-content: end;
}
.search{
  width: 385px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 8px;
  height: 40px;
  padding-left: 20px;
  font-size: 16px;
}